:root{
    --color-cinza-transparente: rgba(29, 29, 29, 0.363);
    --color-letras: #3d3d3d;
    --color-green: rgb(75, 165, 40);
    --color-white: rgb(255, 255, 255);
    --color-yellow: #FFFF00;
    --color-black: black;
}

body, html {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-cinza-transparente);
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
   
}
@media screen and (max-width: 768px){
    .menu{
        height: 6vh;
    }
}

.menu-nav {
    color: rgb(245, 243, 243);
    padding: 14px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.5s ease;
    display: inline-block;
}

.menu-nav:hover {
    transform: scale(1.4);
    color: rgb(75, 165, 40);
    transition: transform 0.5s ease; 
}

@media screen and (max-width: 768px){
    .menu-nav{
        font-size: 12px;
        transform: none;
        transition: none;
    }
}
@media screen and (max-width: 768px){
    .menu-nav:hover{
        font-size: 12px;
        font-size: .89rem;
    }
}

.img{
    width: 200px;
    height: 40px;
    position: absolute;
    top: -7vh;
    left: 25vh;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 40px;
}
@media screen and (max-width: 768px){
    .img{
        display: none;
    }
}

.seja_nosso_aluno{
    position: absolute;
    top: 20px;
    right: 100px;
    padding: 12px;
    border-radius: 10px;
    width: 10%;
    outline: none;
    border: 1px solid #dfe1e5;
    font-size: 15px;
    flex-wrap: wrap;
    transition: effects 0.3s ease, transform 0.2s ease;
    background-color: var(--color-yellow);
    column-rule: var(--color-white);
    color: var(--color-black);
    font-weight: bold;
    cursor: pointer;
    animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
@media screen and (max-width: 768px){
    .seja_nosso_aluno{
        display: none;
    }
}
.seja_nosso_aluno:hover{
    transform: scale(1.05);
}

#title{
    margin-top: 7%;
    justify-content: center ;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
#principal{
    font-size: 25px;
    font-weight: bold;
}
form{
    margin-left: 10%;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 5%;
}

input {
    margin-bottom: 15px;
    height: 40px;
    width: 40%;
    display: block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#btn{
    display: flex;
    width: 10%;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    border-radius: 10px;
    border: 1px solid #1877f2;
    cursor: pointer;
    transition: 0.5s ease;
    color: white;
}
#btn:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: #1463ca;
}