:root{
    --color-cinza-transparente: rgba(29, 29, 29, 0.363);
    --color-letras: #3d3d3d;
}


body, html {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f0f2f5;;
}

.menu{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-cinza-transparente);
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    
}

.menu:hover{
    transform: none;
    transition: none;
}

a{
    color: rgb(245, 243, 243);
    padding: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    font-size: 1.7rem;
    transition: 200ms;
    color: rgb(75, 165, 40);
}

.img{
    width: 200px;
    height: 40px;
    position: absolute;
    top: -7vh;
    left: 25vh;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 10vh;
}

#trabalhe_conosco{
    margin-top: 8%;
}

