:root{
    --color-cinza-transparente: rgba(29, 29, 29, 0.329);
    --color-letras: #3d3d3d;
}


body, html {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    width: 50%;
    height: 10vh;
    background-color: var(--color-cinza-transparente);
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px ;
    margin: auto;
    align-items: center;
}


.menu:hover{
    transition: 500ms ease-in-out;    
    height: 10vh;
    background-image: linear-gradient(rgb(42, 136, 18), rgba(52, 153, 27, 0.24));
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

a{
    color: rgb(245, 243, 243);
    padding: 8px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    font-size: 1.7rem;
    transition: 200ms;
    color: rgb(0, 0, 0);
}
@media screen and (max-width: 768px){
    a{
        font-size: 11px;
    }
    a:hover{
        transform: none;
        transition: none;
        font-size: .9rem;
    }
}

.box1{
    width: 50%;
    height: 50%;
    background-color: red;
}